body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom:3000px;
}
.sony-container{
    background-color:black;
    color:white;
    font-weight:bold;
    font-size:20px;
    font-family: 'Times New Roman';
    text-align: right;
    padding:6px;
}
    .sony{
        display:inline-block;
    }
.top-navigation-bar{
    width:100%;
    display:flex;
    align-items:center;
    padding: 0 20px;
    border-bottom: 1px solid black;
    position:sticky;
    top:0;
}
    .top-navigation-bar nav{
        display:flex;
        align-items: center;
        height:64px;
    }
        
    .top-playstation-icon{
        width: 40px;
        height:40px;
        margin-left:4px;
        margin-right:10px;
    } 
/* sign-in btn */
.sign-in-button-container{
  flex:1;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
  .sign-in-button-container button {
    color:white;
    background-color:black;
    padding: 0 6px;
    border-radius: 50px;
    letter-spacing: 0.4px;
    width:72.73px;
    margin: 0 20px 0 0;
    border: none;

    cursor: pointer;
    overflow: hidden;

  }
  .sign-in-button-container button:hover{
    background-color: #606060;
  }
  .sign-in-button-container button:active{
    outline: 2px solid black;
    outline-offset: 2px;
  }
  .search-btn{
    width: 25px;
    height: 25px;
  }